{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>the cosmedic clinic</h2>

    <section id="tcc">

        {% for note in notes %}

            <div class="tcc ">

                <header>
                    <h3>{{ name }}</h3>
                   
                </header>

                <p>{{ note.body | paragraphs }}</p>

                <footer>
                    Created on {{ note.created | local | format }}
                </footer>

            </div>

        {% else %}

            <p>No Notes!</p>

        {% endfor %}

    </section>

{% endblock %}

