{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>the cosmedic clinic</h2>

   
{% endblock %}

