/*===========================================================
# level-2-progject-tcc
# By austin thompson
#===========================================================*/
body{

    #welcome {
        display: grid;
        margin: 3rem;
        width: 2rem;
        text-shadow: rgb(88, 182, 240);
        color: #196588;

        

        

    }
    p{
        text-shadow: #71caf3;
        color: #19728d;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
    h1{

        text-shadow: #71caf3;
        color: #19728d;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .logo {

        width: 2rem;
        height: 2rem;
    }
]